.login{
    background-image: url("https://user-images.githubusercontent.com/15075759/28719144-86dc0f70-73b1-11e7-911d-60d70fcded21.png");
    /* background-color: #f8f8f8; */
    width: 100vw;
    height: 100vh;
    display: grid;
    place-items: center;
}

.login__container{
    padding: 100px;
    text-align: center;
    background-color: #f8f8f8;
    border-radius: 10px;
    /* box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px; */
    box-shadow: -1px 4px 20px -6px rgba(0, 0, 0, 0.7);
}

.login__container > img{
    object-fit: contain;
    height: 100px;
    margin-bottom: 10px;
}

.login__container > button{
    margin-top: 10px;
    text-transform: inherit;
    background-color: #0a8d48;
    color: white;
    transition: opacity 1s ease-out;
}

.google{
    background-color: lightgreen;
    color: #0a8d48;
    padding: 5px;
    font-weight: 500px;
    border-radius: 20px;
    margin-left: 5px;
}

.login__container > button:hover{
    background-color: #0a8d48;
    opacity: 0.8;
}